body {
    font-family: 'Book Antiqua';
    font-size: 16px;
    line-height: 1;
    background-color: rgb(131, 243, 210);
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: rgb(145, 144, 144);
    color: black;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  h2 {
    text-align: center;
  }
  
  .row {
    white-space: pre-wrap;
    height: 75px;
  }

  span {
      width: 70px;
  }
  